%stretch-panel {
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.App {
  display: flex;
  justify-content: stretch;
  align-content: stretch;

  &__sidebar {
    @extend %stretch-panel;

    flex-basis: 60%;
  }

  &__content {
    @extend %stretch-panel;

    flex-basis: 30%;
    position: relative;
  }
}
